<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<ul th:each="m,state : ${mac}">
		<li th:text="'编号：'+${state.count}"/>
		<li th:text="'内容：'+${m.mes.messageDescription}"/>
		<li th:text="'日期：'+${m.mes.messageDate}"/>
		<li>
			<ul th:each="c,state2 : ${m.com}">
				<li th:text="'楼层：'+${state2.count}"/>
				<li th:text="'评论人ID：'+${c.commentUserid}"/>
				<li th:text="'评论内容：'+${c.commentContent}"/>
				<li th:text="'点赞数：'+${c.commentSubmitCount}"/>
				<li th:text=""/>
			</ul>
		</li>
	</ul>
</body>
</html>